VITE_SUPABASE_URL="https://qvfmfgmrliygecnosbpn.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF2Zm1mZ21ybGl5Z2Vjbm9zYnBuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA5OTUxODYsImV4cCI6MjA3NjU3MTE4Nn0.CEPrr5q6dy-Smr6Uvlw9bvDqhN-5MfCsRBcxNVvRX9o"
GOOGLE_GEMINI_API_KEY="AIzaSyCxd8cgqdY2I_idePS7ftVHtSEQmQw1quI"